/*
 *
 * Renkler
 *
 */

$black: #000;
$white: #fff;
$green: #273e4b;
$lightGreen: #42b983;
$yellow: #f1c40f;

/*
 *
 * Fontlar
 * Örnek: font-family: 'Cormorant Garamond', serif;
 *
 */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&subset=latin-ext');